<%
    if (typeof err_message !== 'undefined') {
        %>
        <div class="message" style="color: red"><%= err_message %></div>
        <%
    }
%>

<form class="reset-pass-form" action="" method="POST">
    <input id="resetToken" type="hidden" name="resetToken" value="<%= user.reset_token%>">
    <input id="newpass" type="password" name="newpass" placeholder="New Password" required>
    <br><br>
    <input id="confpass" type="password" name="confpass" placeholder="Confirm Password" required>
    <br><br>
    <input type="submit" value="Change Password">
</form>